/* some default styles to make the view more native like */

html {
  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
  font-size: 8px;
}

*,
*:before,
*:after {
  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.result {
  font-size: 1.5rem;
}

.caption {
  font-size: 1.2rem;
}

.note {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
