/* adjust for dark mode if needed */
/* [data-theme="dark"] * {
  color: white;
} */

/* some default styles to make the view more native like */

html {
  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*,
*:before,
*:after {
  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
