body {
  font-family: K2D, sans-serif;
}
.bg-gradient {
  background: rgb(20, 40, 80);
  background: linear-gradient(
    180deg,
    rgba(20, 40, 80, 1) 0%,
    rgba(39, 73, 109, 1) 64%,
    rgba(0, 144, 158, 1) 100%
  );
}
